* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

:root {
    --primary-color: #2f5acf;
}

.swiper-wrapper .swiper-slide-thumb-active {
    border: "1px solid #cd6420";
    border-radius: "4px";
}

.MuiDataGrid-columnHeaders {
    max-height: 36px !important;
    min-height: 36px !important;
    background-color: #ddd;
    border-radius: unset !important;
}

.MuiDataGrid-cell {
    min-height: 44px !important;
    border-bottom: 1px solid #cdcdcd !important;
}

.MuiDataGrid-cell:focus {
    outline: unset !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b8bcc3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8e8d8d;
}

.MuiDataGrid-columnHeader:focus {
    outline: unset !important;
}

.MuiDataGrid-virtualScroller {
    margin-top: 36px !important;
}

.MuiDataGrid-root {
    border: 1px solid #cdcdcd !important;
    border-radius: unset !important;
}

.multi-range-slider .thumb::before {
    width: 16px !important;
    height: 16px !important;
    top: 2px;
    border: 2px solid var(--primary-color) !important;
    box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, .32) !important;
}

.caption {
    display: none !important;
}


.list-filter-child {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .5);
    opacity: 0;
    padding: 10px 10px 0;
    transition: .5s;
    width: 350px;
    top: 44px;
    left: 0;
    z-index: 99;
    display: none;
}

.list-filter-child::before {
    content: "";
    position: absolute;
    border: 12px solid;
    border-color: transparent transparent #fff transparent;
    top: -20px;
    left: 32px;
}

.range-header {
    display: flex;
    justify-content: space-between;
}

.range-header p {
    font-size: 18px;
    font-weight: 400;
}

.show.btn-filter-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.button.submit {
    border-color: transparent;
    color: #fff;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
    background-color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
    width: calc(50% - 5px);
    border-radius: 4px;
}

.button.is-light {
    border-color: transparent;
    color: var(--primary-color);
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
    background-color: #adc0f4;
    font-size: 14px;
    font-weight: 600;
    width: calc(50% - 5px);
    border-radius: 4px;
}

.sort-active {
    border: 1px solid var(--primary-color) !important;
    background-color: #e4ebff !important;
}

.region-field {
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    border-color: #cccccc;
}

.select-error {
    color: #d32f2f;
    font-weight: 400;
    font-size: 0.75rem;
    margin: 3px 14px 0 14px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.header-avatar--hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 42px;
    right: -20px;
    transform-origin: 50% top;
    width: 180px;
    border-radius: 5px;
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    max-height: 600px;
    background-color: #fff;
    color: #353535;
    z-index: 99;
    padding-top: 20px;
    animation: showCart ease 0.3s;
    display: none;
}

.header-avatar--hover::after {
    position: absolute;
    content: "";
    display: block;
    border-color: transparent transparent #fff transparent;
    z-index: 100;
    border-width: 16px;
    border-style: solid;
    left: 50%;
    transform: translateX(-50%);
    top: -26px;
}

.header-avatar__link {
    text-decoration: none;
    color: #353535;
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: left;
    padding-left: 24px;
}

.header-avatar__link:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.header-user:hover .header-avatar--hover {
    display: block;
}

@keyframes showCart {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.MuiDataGrid-columnSeparator {
    display: none;
}

.MuiDataGrid-columnHeaderTitle {
    text-transform: uppercase !important;
    font-size: 600;
}

.header-table {
    border-right: 1px solid #cdcdcd;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: unset !important;
}

.rank {
    position: absolute;
    top: 24px;
    left: 28px;
    background: red;
    padding: 0 4px;
    color: #fff;

}

.rank::after {
    position: absolute;
    content: "";
    border: 20px;
    border-color: blanchedalmond transparent transparent transparent;
}